.background-2{
    background: url(../images/background-2.jpg);
}

.about {
    padding-bottom: 100px;
    padding-top: 100px;
}

.about li{
    list-style-type: none; 
}

.about ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container {
}
.about__body {
}
.about__title {
    font-family: 'Space Age', sans-serif;
    font-size: 48px;
    margin-right: auto;
    margin-bottom: 106px;

}
.about__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 150px;
}
.about__img {
}

.about__img img{
    flex-shrink: 0;
    height: 100%;
}

.about__text {
}
.about__text-title {
    font-size: 30px;
    font-weight: 700;
    margin: 0 auto 5px 0;
}
.about__text-posttitle {
    color: var(--blue);
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 auto 31px 0;
}
.about__info-blocks {
    border-bottom: 1px solid var(--white);
    
}
.about__info-block {
    max-width: 165px;
    margin-bottom: 50px;
}
.about__info-values {
    border-bottom: 1px solid var(--white);
    

}
.about__info-value {
    margin-top: 10px;
    margin-bottom: 12px;

}
.about__info-digits {
    padding-right: 35px;
}
.about__info-digit {
    font-size: 36px;
    font-weight: 700;
}

.about__info-digit:last-child{
    margin-right: 35px;
}
.about__info-digit:first-child{
    margin-left: 35px;
}


.about__info-magnitudes {
    border-bottom: 1px solid var(--white);
    
}
.about__info-magnitude {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 7px;
    
}
.about__info-magnitude:first-child{
    margin-left: 35px;
}
.about__info-magnitude:last-child{
    margin-right: 35px;
}

.about__to-book {
    display: flex;
    justify-content: start;
    margin-top: 70px;
    text-align: center;
    font-size: 18px;
    padding: 20px 44px;
    border: 1px solid var(--white);
    max-width: 305px;
    text-transform: uppercase;
    cursor: pointer;


}
.to-book {
}