.add {
    margin-bottom: 200px;
}
.container {
}
.add__body {
}
.add__title {
    margin: 0;
    max-width: 600px;
    margin-bottom: 82px;
}
.title {
}
.add__blocks {
    display: flex;
    flex-direction: row;

}
.add__block {
}
.add__text {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 25px;
}
.add__list {
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
}
.add__list-item {
    margin-bottom: 11px;
    font-size: 24px;
    line-height: 0.9;
}

.add__list-item:last-child{
    margin-bottom: 0;
}

.add__subtext {
    font-size: 12px;
    color: var(--old-white);
    min-width: 617px;
}

.add__image{
    text-align: right;
    right: 83px;
    position: absolute;
}

.add__button-1 {
    right: 0;
    padding: 20px 124px;
    font-size: 18px;
    margin-bottom: 50px;
    margin-left: 83px;
    position: relative;
}

.add__button-2 {
    padding: 20px 190px;
    font-size: 18px;
    margin-left: 83px;
}

.btn {
}